.main-nav
{
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: 3px solid #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    position:fixed;
    top: 0%;
    left:0%;
    background-color: #f8f8f9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.navbar
{
    height: 100%;
    min-width: 85%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo
{
    padding: 5px 25px;
}
.nav-i
{
    margin:0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69,69,69);
    transition: 0.2s;
}
.nav-btn
{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}
.nav-i:hover
{
    background-color: rgb(226,226,226) !important;
}
.navbar form
{
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}
.navbar form input
{
    min-width: 70%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    border: solid 1px #0000003e;
    border-radius: 3px;
}
.search-icon
{
    position: absolute;
    top: 12px;
    left: 21px;
}
.nav-links
{
    padding:7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}
.nav-links:hover
{
    background-color: #d3e4eb;
 } 